extends layout/layout.pug

block title
    | img // abeeken.github.io

block content
    p When this works it'll show the images. For the moment it's just a list.
    #gallery

block footer
    script.
        var galleryVars = ['name', 'path'];
        var galleryTemplate = '<li class="{name}">{path}</li>';
        getGithubFolder('https://api.github.com/repos/abeeken/abeeken.github.io/contents/img', galleryVars, '#gallery', galleryTemplate);