extends layout/layout.pug

block title
    | img // abeeken.github.io

block content
    #gallery

block footer
    script.
        var galleryEndpoint = 'https://api.github.com/repos/abeeken/abeeken.github.io/contents/img';
        var galleryVars = ['name', 'size', 'path', 'download_url'];
        var galleryTarget = '#gallery';
        var galleryTemplate = '<div class="gallery-item {name}">\
            <img src="{download_url}" alt="Image for {name}" />\
            <h2>Filename: {name}</h2>\
            <p>Filesize: {size}</p>\
        </li>';
        getGithubFolder( galleryEndpoint, galleryVars, galleryTarget, galleryTemplate );