extends layout/layout.pug

block title
    | img // abeeken.github.io

block content
    p This pages sources content via JQuery from the public GitHub API for this repository.
    p Endpoint: 
        a(url="https://api.github.com/repos/abeeken/abeeken.github.io/contents/img")
            i https://api.github.com/repos/abeeken/abeeken.github.io/contents/img
    p JQuery function: 
        a(url="https://github.com/abeeken/abeeken.github.io/blob/master/js/parts/getGithubFolder.js")
            i https://github.com/abeeken/abeeken.github.io/blob/master/js/parts/getGithubFolder.js
    p Source for this page:
        a(url="https://github.com/abeeken/abeeken.github.io/blob/master/views/img.pug")
            i https://github.com/abeeken/abeeken.github.io/blob/master/views/img.pug
    #gallery

block footer
    script.
        var galleryEndpoint = 'https://api.github.com/repos/abeeken/abeeken.github.io/contents/img';
        var galleryVars = ['name', 'size', 'path', 'download_url'];
        var galleryTarget = '#gallery';
        var galleryTemplate = '<div class="gallery-item {name}">\
            <img src="{download_url}" alt="Image for {name}" />\
            <h2>Filename: {name}</h2>\
            <p>Filesize: {size}</p>\
        </li>';
        getGithubFolder( galleryEndpoint, galleryVars, galleryTarget, galleryTemplate );